.list-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table,
th,
td {
  border: 1px solid black;
  padding: 6px 12px;
  background-color: white;
}
table {
  position: relative;
}

.list-a {
  margin-top: 36px;
}

.modal-update {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(39, 37, 37, 0.877);
  z-index: 9999;
}

.div-onclick {
  cursor: pointer;
}

.modal-update.active {
  display: flex;
}

.fas.fa-times.x-icon {
  position: absolute;
  top: 30px;
  right: 30px;
  color: white;

  z-index: 1000;
}
